<div id="<%= dom_id config %>">
  <p>
    <strong>Active config:</strong>
    <%= config.active_config %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= config.title %>
  </p>

  <p>
    <strong>Hotfolder:</strong>
    <%= config.hotfolder %>
  </p>

  <p>
    <strong>Max time:</strong>
    <%= config.max_time %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= config.day %>
  </p>

  <p>
    <strong>Load teams:</strong>
    <%= config.load_teams %>
  </p>

  <p>
    <strong>Csv delimiter:</strong>
    <%= config.csv_delimiter %>
  </p>

  <p>
    <strong>Unique:</strong>
    <%= config.unique_id %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= config.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= config.lastname %>
  </p>

  <p>
    <strong>Entry class:</strong>
    <%= config.entry_class %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= config.gender %>
  </p>

  <p>
    <strong>Classifier:</strong>
    <%= config.classifier %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= config.time %>
  </p>

  <p>
    <strong>School:</strong>
    <%= config.school %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= config.team %>
  </p>

  <p>
    <strong>Jrotc:</strong>
    <%= config.jrotc %>
  </p>

  <p>
    <strong>Other class:</strong>
    <%= config.other_class %>
  </p>

  <p>
    <strong>Other class title:</strong>
    <%= config.other_class_title %>
  </p>

</div>
