<p style="color: green"><%= notice %></p>
<div class=home>
 <%= button_to 'Clear Results', controller: 'results', action: 'clear_results' %>	
<h2><%= link_to 'Configurations', controller: 'configs' %></h2>
<h2><%= link_to 'Results', controller: 'runners' %></h2>
<h2><%= link_to 'Team Results', controller: 'results', action: 'team_results' %></h2>
<h2><%= link_to 'Teams', controller: 'teams', action: 'index' %></h2>
<h2>Individual Awards (based on AWT)</h2>
<h2><%= link_to 'Average Weighted Time', controller: 'results', action: 'awt' %></h2>
</div>