<p style="color: green"><%= notice %></p>
<div class=home>
 <%= button_to 'Clear Results', controller: 'results', action: 'clear_results' %>	
<h2><%= link_to 'Configurations', controller: 'configs' %></h2>
<h2><%= link_to 'Results', controller: 'runners' %></h2>
<h2><%= link_to 'IS Team Results', controller: 'results', action: 'team_results' %></h2>
<h2><%= link_to 'JROTC Team Results', controller: 'results', action: 'jrotc_team_results' %></h2>
<% if Config.where(active_config: true).first.other_class_title %>
  <h2><%= link_to "#{Config.where(active_config: true).first.other_class_title} Team Results", controller: 'results', action: 'other_team_results' %></h2>
<% end %>
<h2><%= link_to 'IC Team Results', controller: 'results', action: 'ic_team_results' %></h2>

<h2><%= link_to 'Teams Results For Publishing', controller: 'teams', action: 'index' %></h2>
<h2><%= link_to 'Individual Awards (based on AWT)', controller: 'awards', action: 'index' %></h2>
<h2><%= link_to 'IS Average Weighted Time', controller: 'results', action: 'awt' %></h2>
<h2>IC Average Weighted Time</h2>
</div>