<!DOCTYPE html>
<html>
  <head>
    <title>Citius</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class=App>
      <div class=App-header>
        <% active_config = Config.where(active_config: true).order(:id).first %>
        <% if active_config %>
          <%= link_to Config.where(active_config: true).order(:id).first.title, controller: "home" %>
        <% else %>  
          no active config
        <% end %>  
      </div>  
      <%= yield %>
      <div class=App-footer>
        <% if active_config %>
          <%= Config.where(active_config: true).order(:id).first.host_club %> 
        <% end %>  
      </div>
    </div>  
  </body>
</html>
